@{
    ViewBag.Title = "New Password Confirmation";
}

    <div class="title whiteback">
        <hgroup class="title">
            <h2>@ViewBag.Title.</h2>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
	
