@{
    ViewBag.Title = "About";
}
<div class="title" id="whiteback">
    <h1>About Us</h1>
    <p>We are a small group of developers looking to make a big impact. By small group of developers, we're talking one, just one. Full Stack Java and C# / .NET Developer Joshua Evans. That being said, Site_Design<sub>&reg;</sub> would not have been possible without the advice and insight of his teachers, mentors, and peers. I'm looking at you Eric.</p>
</div>
