@{
    ViewBag.Title = "Home Page";
}
<div class="title whiteback">
    <h1>Site_Design</h1>
    <h3>For Devs by Devs</h3>
 </div>
<br/>
<div class="flex-container whiteback">
    <p>The relationship between Html and Css can be tricky for a budding developer, as well as troublesome and tedious to some experienced ones. Not to mention just remembering all the different tags, properties and attributes that go along with both formats. That is why Site_Design is here.  We deliver an assortment of templates to provide a solid infrastructure for your Website / Web App to stand on. With our downloadable .html and .css files you can get started shaping and molding you site or, if you wish, copy and paste components from the templates as you please. So whether you are brand new or just a bit rusty, let us help make your web dreams a reality.</p>
</div>
<div class="flex-container">
    <button class="main-button" id="blueback"onclick="location.href='@Url.Action("Templates","Home")'">Browse Templates</button>
    <button class="main-button" id="redback" onclick="location.href='@Url.Action("Login","Account")'">Log In</button>
</div>